a {
  color: black;
  text-decoration: none;
}
.title {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.title:hover{
  color: grey;
}
.warning {
  color: red;
}
.navigation-conatiner {
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navigation-button {
  margin: 1rem;
  width: 40vw;
  height: 40vw;
  border: black solid 1px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.result-card {
  border: lightgrey solid 1px;
  border-radius: 10px;
  width: 80vw;
  margin: 1vw auto;
  padding: 2vw 5vw;
}
.result-card p{
  word-wrap: break-word;
}
.search-bar {
  margin: 2vw auto;
  width: 60vw;
  display: block;
  border: 1px solid black;
  padding: 1vw 2vw;
  border-radius: 10px;
}
.navigation-button:hover {
  background-color: lightgrey;
}
@media (min-width: 768px) {
  .navigation-conatiner {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
  }

  .navigation-button {
    padding: 2rem;
    width: 20vw;
    height: 15vw;
  }
  .result-card {
    width: 50vw;
  }
  .search-bar {
    width: 40vw;
  }
}
