a {
  color: black;
  text-decoration: none;
}
.App {
  height: 100vh;
}
.title {
  width: 100%;
  text-align: center;
}
.warning {
  color: red;
}
.navigation-conatiner {
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navigation-button {
  margin: 1rem;
  width: 40vw;
  height: 40vw;
  border: black solid 1px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.navigation-button:hover {
  background-color: lightgrey;
}
@media (min-width: 768px) {
  .navigation-conatiner {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
  }

  .navigation-button {
    padding: 2rem;
    width: 20vw;
    height: 15vw;
  }
}
